
{{#yield-styles}}
  <link rel="stylesheet" media="screen,print" type="text/css" href="/css/default.css" />
{{/yield-styles}}
{{#yield-scripts}}
  <script type='text/javascript' src='/js/default.js'></script>
{{/yield-scripts}}

<div class='pop start'>
  <h1>Välkommen till Ellas skattjakt!</h1>
  <h3>Svara på frågorna och klicka er vidare.<br />Ni kan inte komma vidare till nästa fråga förrän ni har svarat rätt.</h3>
  <h3>Klicka på ert lagnamn för att börja</h3>
  <div class='buttons'>
    <a href='/jakt/?p=lag1' class='button'>Lag 1</a>
    <a href='/jakt/?p=lag2' class='button'>Lag 2</a>
  </div>
</div>
