{{#yield-scripts}}
  <script type='text/javascript' src='/js/jakt.js'></script>
  <script type="text/javascript">var questions={{person}};</script>
{{/yield-scripts}}

<div class='pop question'>
  <div class='qarea'>
    <div class='direction'></div>
    <div class='qimg'><img /></div>
    <div class='qtext'></div>
  </div>
  <div><input type='text' class='answer' /></div>
  <a class='button answerbtn'>Svara</a>
</div>

<div class="pop result wrong">
  <div class='resimg'><img src='/gfx/wrong.jpg' /></div>
  <h3>Buuu!!<br />Det var fel!</h3>
  <a class='button'>Försök igen</a>
</div>

<div class="pop result correct">
  <div class='resimg'><img src='/gfx/correct.jpg' /></div>
  <h3>Bravo!<br />Det var rätt!</h3>
  <a class='button'>Nästa fråga</a>
</div>

<div class="pop final">
  <div class='text'>
    <h1>Grattis!</h1>
    <h2>Ni klarade det!</h2>
    <div class='text2'>
      <div>Sista ledtråden finns <span class='clue'></span>.<br /><br />Samarbeta med det andra laget för att hitta skatten.</div>
      <a class='button answerbtn'>Vi är klara</a>
    </div>
  </div>
</div>


